<div class="row">
  <div class='col-md-5 cell--image--name' >  
    <span class='<%= "alert-danger" if image.errors.details.keys.include?(:name) %>'  style="display: inherit;"  >
        <%= f.text_field :name, value: image.name, autocomplete: 'off', size: 40, class: 'form-control', type: '' %>
       
      
      <label class='small form-text text-muted'>Name</label>
    </span>
    <br />
  </div>
  <div class='col-md-5 cell--image--avatar' >  
    <span class='<%= "alert-danger" if image.errors.details.keys.include?(:avatar) %>'  style="display: inherit;"  >
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
        <%= image.avatar.attached? && image.avatar.variable? ? image_tag(image.avatar.variant(:thumb)) : '' %><br />
        <%= f.file_field :avatar , direct_upload: true %>
      </div>
      <label class='small form-text text-muted'>Avatar</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", images_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
